sudo: false
language: node_js

cache:
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - '8'
  - '7'
  - '6'

before_script:
  - npm prune

after_success:
  - npm install coveralls@^2.11.9 && cat ./coverage/lcov.info | coveralls

after_script:
  - npm install
  - npm run build
  - npm run semantic-release

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
